body {
	background-image: url('texture-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

p.footer{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0px;
}

.header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 90%;
	max-width: 421px;
}

#home_img {
	display: block;
	margin: 5px auto;
	height: auto;
	width: 90%;
	max-width: 700px;
}

.pagehead {
	font-family: 'Bitter', serif;
	color: #0E8A7D;
	text-align: center;

}
 
.linkItem {
	font-family: 'Source Sans Pro', sans-serif;
	color: #004466;
	text-decoration: none;
}

a.navbar:hover, a.linkItem:hover {
	color: #ff9900;
	text-decoration: none;

}

#wrapper {
	height: 100%;
	width: 65%;
	background-color: white;
	margin: auto;
	padding: 7px;
	overflow: auto;
}

#cont-del, #cont-dump {
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	color:;

}

ul.navbar{
	text-align: center;
	font-family: 'Bitter', serif;
	color: #14CCB9;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.navbar{
	text-align: center;
	display: inline;
	color: #14CCB9;
}

a.navbar {
	text-decoration: none;
	color: #000000;
}
.linkItem {
	font-size: 18px;
}


div #about-me {
	width: 48%;
	float:left;
	margin-right: 7px;
	margin-left: 7px;
	font-family: 'Source Sans Pro', sans-serif;
}

div #about-site {
	float: right;
	width: 48%;
	margin-right: auto;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}

#about-me > h3, #about-site > h3 {
	text-align: center;
	font-family: 'Bitter', serif;
	color: #0E8A7D;
}

.video {
	height: auto;
	width: 90%;
	max-width: 420px;
}

#poster {
	height: auto;
	width: 420px;

}
